@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
:root{
    /*vamos a crear variables*/
    --color-bg:  #6f2a86e7 /*#F27127*/ ;
    --color-bg-variant: #B695C0;  ; /* #A6381F;*/
    /*color letra*/
    --color-primary: #EDE6DB/* #ff7066/* #B84A44/* #A6381F*/;
    /*color titulos*/
    --color-primary-variant: #c5414a/* #F9CEEE /*#F28A2E*/;
    --color-white: #ffffff;
    --color-light: #f5abb0/* #9b35af9a; /*#A6381F*/;
    /*Variable de transicion LOOK THAT ;-; */
    --transition: all 400ms ease;
    /*ancho de una clase contenedora de la mayoria de componentes */
    --container-width-lg:75%;
    /*para tablets*/
    --container-width-md:86%;
    /*small devices like a cellphone */
    --container-width-sm:90%;
    --color-service: #cf5a0b/*#551a06*/; /* segun yo este es un color browniosito*/
    --color-black:#0a0a0a;
    --color-beige: #ede6db;

}
html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    /*para eliminar la barra de desplazamiento*/
    display: none;
  }
  
  body{
    font-family: 'Belleza', sans-serif;
    background: var(--color-beige);
    color: var(--color-beige);
    line-height: 1.7;
    /*background-image: url(https://media.giphy.com/media/w9Sb2fZrLPxHUFxLV2/giphy.gif);*/
    background-image: url(https://media.giphy.com/media/G8NKqvsjsHyhJpFGLn/giphy.gif);
    background-size:contain;
  }
  
  /* ---------------- GENERAL STYLESS --------------*/
  
  .container {
    width: var(--container-widht-lg);
    margin: 0 auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
  }
   
  
  h1 {
    font-size: 2.2rem;
  }
  
  section {
    margin-top: 6rem;
    
    /*/esto permite que tengo la altura de lo que se vera en la pantalla completa */
  }


  section > h5 {
    text-align: center;
    color: var(--color-bg);
    margin-top: 6rem;
    font-size: 1rem;
  }
  section > h2 {
    text-align: center;
    color: var(--color-bg);
    margin-top: 1rem;
    font-size: 2rem;
  }
  /*hijo directo de cada section
  como subtitulo y titulo en cada section*/
  /*section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
  }*/
  /*aqui ira el color primario de cada titulo */
  section > h2 {
    color: var(--color-bg);
    margin-bottom: 3rem;
  }
  
  .text-light {
    color: #920dbb/*#A6381F*/;
  }

  .text-font-small{
    color: var(--color-bg-variant)/* aliceblue*/;
  }
  /*================ PREGUNTAR A LA PROFE ===============*/

  a{
    color: var(--color-bg);
    transition: var(--transition);
  }
  /*al pasar el cursor el color cambiara a blanco*/
  a:hover {
    color: var(--color-white);  
  }
  /*para los diferentes botones que vamos a tener*/
  .btn {
    /*se ajusta a su contenido */
    width: max-content;
    display: inline-block;
    color: var(--color-light);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
  }
  /*efecto de desplazamiento*/
  .btn:hover {
    background: var(--color-bg-variant);
    color: var(--color-bg);
    border-color: transparent;
  }
  /*para unos botones especificos */
  .btn-primary {
    background: var(--color-bg);
    color: var(--color-white);
  
  }
  
  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
 
  ul{
    margin-left: 4rem;
  }
  
  /* -------------------------- MEDIA QUERIES (MEDIUM DEVICES)---------------*/
  
  @media screen and (max-width: 1024px) {
    .header {
      width: var(--container-width-md);
    }
  
      section {
        margin-top: 6rem;
      }
    }
  
  
  /* ----------------------- MEDIA QUERIES (SMALL DEVICES)-----------------*/
  

  @media screen and (max-width: 600px) {
    .container {
      width: var(--container-width-sm);}
      section > h2 {
        margin-bottom: 2rem;
      }
    }