.portafolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.portafolio__item{
    background-color: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var (--transition);
    width: 20rem;
    height: 30rem;
    margin: 0rem 0rem 3rem 3rem ;
}

.portafolio__item:hover{
    border-color: var(--color-light);
    background: transparent;
    color: var(--color-bg);
}

.portafolio__item_img{
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
    overflow: hidden;
    /*para que el contenido no se desborde de sus limites y con hidden todo lo que se desborde se oculta*/
}

.portafolio__item h3{
    margin: 1.2 0 2rem;
}

.portafolio__item_cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

/*===============================MEDIA QUERIES (MEDIUM DEVICES)=============================================*/
@media screen and (max-width: 1024px){
    .portafolio__container{
        grid-template-columns: repeat(2, 1fr);
        gap:0rem;
    }
}


/*===============================MEDIA QUERIES (SMALL DEVICES)=============================================*/
@media screen and (max-width: 600px){
    .portafolio__container{
        grid-template-columns: 1fr;
        margin-right: 1rem;
    }
    .portafolio__item{
        width: 18rem;
        height: 30rem;
        margin: 0 0 1rem 1rem;
    }
}